body {
	background-color:#eeeeee;
}
nav {
	font-size: 15px;
	border:2px solid;
	border-color: #373a40 ;
	background-color:#686d76;
	color:#ffffff;
	text-align: left;
	border-radius:10px;
	margin:1em;
	padding:1em;
	justify-content: space-around;
	display: flex;
}

h3{
	text-align: center;
}
a{
	text-decoration: none;
	color: #eeeeee;
}
a:hover{
    background: #19d3da;
    border-radius: 5px;

}
aside {
	float: right;
	clear: none;
}
section {
	background-color:#686d76;
	border:2px solid;
	border-color:#373a40;
	border-radius:15px;
	margin:2em;
	padding:1em;
}

label {
	text-align: right;
	color: white;
}

input{
	display: flex;
	align-items: center;
}

textarea{
	display: flex;
	align-items: center;

}

td {
	border-color:#373a40;
	border:1px solid;
	border-radius:15px;
	margin:2em;
	padding:1em;
	font-family:Arial;
	font-size:0.9em;
	color:#ffffff
}

