<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/default.css') }}">
</head>
<body>
   <nav>
      <a href = "{{ url_for('show_all') }}">Show All Student</a> |
      <a href = "{{ url_for('new') }}">Add Student</a>
   </nav>
      <section>
      <h3>Students</h3>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "lastname">Lastname</label>
         <input type = "text" name = "lastname" placeholder = "Lastname" /><br>
         <label for = "cel" >Celular</label>
         <input type = "text" name = "cel" placeholder = "Cel" /><br>
         <label for = "correo" >Correo</label>
         <input type = "text" name = "correo" placeholder = "Correo" /><br>
         <label for = "edad" >Edad</label>
         <input type = "text" name = "edad" placeholder = "Edad" /><br>        
         <label for = "email">City</label>
         <input type = "text" name = "city" placeholder = "City" /><br>
         <label for = "addr">Addr</label>
         <textarea name = "addr" placeholder = "Addr"></textarea><br>
         <label for = "PIN">PIN</label>
         <input type = "text" name = "pin" placeholder = "pin" /><br>
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>